@{
    ViewBag.Title = "Nosotros";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
<br /><br />
<p>Somos una compañía al servicio de la comunidad, comprometidos con el desarrollo social y económico. Desde el año 2008 nos dedicamos al arte del desarrollo de 
 software y sistemas de información. Nuestra experiencia está en empresas del sector bancario, salud y tecnología</p>
<br /><br />
<h3>MISIÓN</h3>
<p>Desarrollar software y sistemas de información con altos estándares de calidad a precios competitivos y garantizando la satisfacción de nuestros clientes.</p>
<br /><br />
<h3>VISIÓN</h3>
<p>Crecer en el mercado nacional e involucrarnos en mercados internacionales antes del año 2020</p>
