@{
    ViewBag.Title = "Contáctenos";
}

<h2 style="text-align:center;">@ViewBag.Title</h2>
<address>
    Calle 78B # 116B - 50 T4 1103<br />
    Bogotá, Colombia<br />
    Código Postal: 111031<br />
    <abbr title="Phone">P:</abbr>
    +57 320 4051371
    <abbr title="WhatsApp">
        <a href="https://wa.me/573204051371?text=Hola%20me%20interesa%20tu%20producto" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" style="width: 40px; height: 40px;">
        </a>
    </abbr>
</address>
<address>
    <strong>Administración</strong>   <a href="mailto:administrative@aresoftware.net">administrative@aresoftware.net</a><br />
    <strong>Ventas</strong> <a href="mailto:administrative@aresoftware.net">administrative@aresoftware.net</a>
</address>