@{
    ViewBag.Title = "Inicio";
}

<div style="text-align:center;margin:4em 4em 4em 4em;">
    <img src="~/Content/img/LogoAresoftware2.png" style="width:70%" />
</div>
<div class="jumbotron" style="text-align:center;">
    <h1>AreSoftware</h1>
    <p class="lead">Compañía tecnológica dedicada a prestar servicios a las pequeñas y medianas empresas</p>
</div>

<div class="row" style="text-align:center;">
    <div class="col-md-4">
        <h2>Nosotros</h2>
        <p>
            Somos una compañía al servicio de la comunidad, comprometidos con el desarrollo social y económico.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("About","Home")">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Portafolio</h2>
        <p>Web, Software, Análisis de Información</p>
        <p><a class="btn btn-default" href="@Url.Action("Products","Home")">Leer más &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contáctenos</h2>
        <p>Registre sus datos en el formulario.</p>
        <p><a class="btn btn-default" href="@Url.Action("Contact","Home")">Leer más &raquo;</a></p>
    </div>
</div>