@{
    ViewBag.Title = "Política de Privacidad";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
<br />
<br />
<p>
    Última actualización: @DateTime.Now.Date.ToShortDateString()
</p>
<br />
<br />
<p>
    En AreSoftware, respetamos la privacidad de los usuarios. Esta política de privacidad explica cómo manejamos los datos en nuestra aplicación Inventarios y Facturación.
</p>
<br />
<br />
<h3>1. Recopilación de información</h3>
<p>Nuestra aplicación no recopila, almacena ni transmite ninguna información personal o técnica de los usuarios. Todos los datos que el usuario ingresa o utiliza en la aplicación permanecen almacenados localmente en el dispositivo del usuario y no se comparten con nosotros ni con terceros.</p>
<br />
<br />
<h3>2. Uso y almacenamiento de datos</h3>
<p>Cualquier información introducida en la aplicación es procesada localmente en el equipo del usuario y no se transmite a través de internet ni se almacena en nuestros servidores. No tenemos acceso a esta información.</p>
<br />
<br />
<h3>3. Seguridad</h3>
<p>Dado que nuestra aplicación no recopila ni transmite datos personales, no se requiere de medidas adicionales para la protección de información transmitida. Sin embargo, recomendamos a los usuarios proteger sus dispositivos mediante medidas de seguridad estándar para garantizar la privacidad de los datos que ingresen.</p>
<br />
<br />
<h3>4. Cambios en esta Política de Privacidad</h3>
<p>Podemos actualizar esta política de privacidad si es necesario para reflejar cambios en nuestra aplicación o en los requisitos legales. Las modificaciones estarán disponibles en la URL de esta política, y recomendamos a los usuarios revisar este documento periódicamente.</p>
<br />
<br />
<h3>5. Contacto</h3>
<p>
    Si tienes alguna pregunta sobre esta política de privacidad, puedes contactarnos a través de:<br />
    <a href="mailto:administrative@aresoftware.net">administrative@aresoftware.net</a><br />
    <a href="@Url.Action("Privacy","Home")" target="_blank">Política de Privacidad</a>
</p>
