@{
    ViewBag.Title = "Portafolio de Servicios";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
<h3>INVENTARIOS Y FACTURACIÓN</h3>
<p>
    Software POS standalone para Windows 10 y 11 de 64 bit. 
    Intuitivo y fácil de usar. Instale y use. No necesita conexión a internet para su funcionamiento.
    Lleve el control de su inventario y genere facturas o tickets de venta de forma ágil y eficiente. 
    La información de sus clientes permanece en su computadora de forma segura pues no usa servicios de nube.    
</p>
<br />
<div style="text-align:center;">
    <img src="~/Content/img/ScreenShot5.png" style="width:50%;"  />
</div>
<br />
<div style="text-align:center;">
    <a class="btn btn-link" id="idComprar" onclick="alert('Tienda');">Comprar</a>
</div>
<h3>WEB</h3>
<p>
    <ul class="list-group">
        <li class="list-group-item">Diseño y desarrollo Web</li>
        <li class="list-group-item">Aplicaciones móviles multiplataforma</li>
    </ul>
</p>
<br />
<h3>SOFTWARE</h3>
<p>
    <ul class="list-group">
        <li class="list-group-item">Diseño y desarrollo de sistemas de información</li>
        <li class="list-group-item">Actualización de plataformas de software</li>
        <li class="list-group-item">Ingeniería de Software</li>
        <li class="list-group-item">Automatización de procesos</li>
        <li class="list-group-item">Desarrollo a la medida</li>
    </ul>
</p>
<div style="text-align:center;">
    <img src="~/Content/img/inge_siste-2014_11_11_174501.jpg" style="width:30%;" />
</div>
<h3>ANÁLISIS DE INFORMACIÓN</h3>
<p>
    <ul class="list-group">
        <li class="list-group-item">Minería de datos</li>
        <li class="list-group-item">Tratamiento de grandes cantidades de información</li>
        <li class="list-group-item">Estándarización de bases de datos</li>
        <li class="list-group-item">Transformación de datos</li>
        <li class="list-group-item">Reporting</li>
    </ul>
</p>
<div style="text-align:center;">
    <img src="~/Content/img/databases.jpg" style="width:30%;" />
</div>