@{
    ViewBag.Title = "Portafolio de Servicios";
}
<h2 style="text-align:center;">@ViewBag.Title</h2>
<h3>WEB</h3>
<p>
<ul class="list-group">
    <li class="list-group-item">Diseño y desarrollo Web</li>
    <li class="list-group-item">Aplicaciones móviles multiplataforma</li>
    <li class="list-group-item">Redes Sociales</li>
    <li class="list-group-item">Diseño de Logo</li>
</ul>
</p>
<div style="text-align:center;">
    <img src="~/Content/img/bootstrap-jquery-html5-css3.png" style="width:25%;"/>
    <img src="~/Content/img/ios_android_windows_phone.jpg" style="width:25%;" />
    <img src="~/Content/img/Google-Plus-Facebook-Twitter1.jpg" style="width:15%;" />
    <img src="~/Content/img/gimp.jpg" style="width:10%;" />
</div>
<h3>SOFTWARE</h3>
<p>
    <ul class="list-group">
        <li class="list-group-item">Diseño y desarrollo de sistemas de información</li>
        <li class="list-group-item">Actualización de plataformas de software</li>
        <li class="list-group-item">Ingeniería de Software</li>
        <li class="list-group-item">Automatización de procesos</li>
        <li class="list-group-item">Desarrollo a la medida</li>
    </ul>
</p>
<div style="text-align:center;">
    <img src="~/Content/img/inge_siste-2014_11_11_174501.jpg" style="width:30%;" />
</div>
<h3>ANÁLISIS DE INFORMACIÓN</h3>
<p>
    <ul class="list-group">
        <li class="list-group-item">Minería de datos</li>
        <li class="list-group-item">Tratamiento de grandes cantidades de información</li>
        <li class="list-group-item">Estándarización de bases de datos</li>
        <li class="list-group-item">Transformación de datos</li>
        <li class="list-group-item">Reporting</li>
    </ul>
</p>
<div style="text-align:center;">
    <img src="~/Content/img/databases.jpg" style="width:30%;" />
</div>