@model Aresoftware.Controllers.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <label for="Username">Usuario:</label>
        @Html.TextBoxFor(m => m.Username)
    </div>
    <div>
        <label for="Password">Contraseña:</label>
        @Html.PasswordFor(m => m.Password)
    </div>
    <div>
        <input type="submit" value="Login" />
    </div>

    
}
